<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="EmployeeListExcel"
		class="com.pep.controller.EmployeeListExcelView">
	</bean>

	<bean id="EmployeeLeavesListExcel"
		class="com.pep.controller.EmployeeLeavesListExcelView">
	</bean>

	<bean id="EmployeeTasksListExcel"
		class="com.pep.controller.EmployeeTasksListExcelView">
	</bean>

	<bean id="EmployeeRostersListExcel"
		class="com.pep.controller.EmployeeRostersListExcelView">
	</bean>

</beans>